# Ignore database files
db.sqlite3

# Ignore environment variable files
.env

# Ignore other typical files and directories
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log


